@import "reset.css";
* {
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.btn-style {
    width: 170px;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    font-weight: bold;
}

.btn-enter {
    background-color: #fbe11e;
    color: #0a4bbb;
}

.btn-enter:hover {
    background-color: #edd100;
    cursor: pointer;
}

.visit-filter {
    margin-bottom: 2rem;
    width: 100%;
    position: relative;
}

.input-style {
    width: 200px;
    height: 30px;
    transition: 0.3s;
    border: 1px solid #0a4bbb;
    border-radius: 5px;
}
.input-style:focus {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.21)
}

.search-icon {
    position: absolute;
    top: 8px;
    left: 180px;
}

.search-btn {
    width: 100px;
    height: 30px;
    transition: 0.3s;
    border: 1px solid #0a4bbb;
    border-radius: 5px;
    color: #0a4bbb;
    font-weight: bold;
}

.search-btn:hover {
    background-color: #fbe11e;
}

.visit-list {
    display: flex;
    height: 70vh;
    border: 2px solid #0a4bbb;
    border-radius: 10px;
    padding: 10px;
}